{% extends 'main/layoute.html' %}


{% block title %}
    <title>Првая страница на django </title>
{% endblock %}


{% block content %}
    <h4>Урок номер 2 по изучению фреймворка Django</h4>
    <h1>Добро пожаловать на наш новый проект {{caption}}!</h1>

        <p>Мы рады представить вам наш первый сайт {{caption}}, созданный на основе фреймворка Django. Этот проект является результатом нашей команды разработчиков, стремящихся создать удобный и функциональный веб-ресурс.</p>
        <p>Здесь вы найдете множество полезных функций и возможностей, которые помогут вам решать различные задачи. Мы постарались сделать интерфейс максимально простым и интуитивно понятным, чтобы каждый мог легко ориентироваться на нашем сайте.</p>
        <p>На этом этапе мы продолжаем работу над улучшением функционала и добавлением новых возможностей. Если у вас есть какие-то предложения или замечания, пожалуйста, свяжитесь с нами. Мы всегда открыты для обратной связи и готовы учесть ваши пожелания.</p>
        <p>Спасибо за интерес к нашему проекту! Мы надеемся, что он станет полезным инструментом для вас.</p>


{% endblock %}


