<!-- Сайт без подвала-->
{% load static %}
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}
    {% endblock %}
</head>
<body>
    <aside>
        <img src="{% static 'main/img/Энштейн.png' %}" alt="Энштейн" width="200px">
        <span>Энштейн</span>
        <ul></ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'page2' %}">Вторая</a></li>
    </aside>
   <main>


    {% block content %}
    {% endblock %}

</body>
</html>